body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#video-container {
    text-align: center;
}

#video-feed {
    width: 100%; 
    height: auto; 
    border: 2px solid white;
    margin-top: 20px;
}

button {
    background-color: #f5f5dc; 
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: gray; 
    color: black;
}
